@import url('https://fonts.googleapis.com/css2?family=BenchNine&family=Pangolin&family=Roboto+Slab:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: 'roboto slab', sans-serif;
    font-weight: 300;
}