@import url('https://fonts.googleapis.com/css2?family=BenchNine&family=Pangolin&family=Roboto+Slab:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: 'roboto slab', sans-serif;
    font-weight: 300;
    color: #f2f2f2;
}

h1 {
    font-family: benchnine, sans-serif;
    text-transform: uppercase;
}

#logo {
        color: #333333;
        text-align: center;
        width: 100%;
        font-size: 280%;
}